<h2>All movies</h2>

<% if flash(:message) %>
  <%= flash[:message] %><br><br>
<% end %> 

<% Movie.all.each do |movie| %>
    <li><a href="/movies/<%=movie.id%>"><%= movie.title %></a></a></li>
    <% end %>