<h1>Add a Movie</h1>
 <!-- # title, imdb_url, year, summary, network -->

<form method="POST" action="/movies">
    Title: <input type="text" name="title"><br>
    Year: <input type="text" name="year"><br>
    Short summary: <input type="text" name="summary"><br>
    <input type="submit" value="Create Movie">
</form>
