body {
    background-color: rgb(4, 39, 51);
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  h1 {
    font-size: 36px;
    line-height: 54px;
  }

  h2 {
    border-top: 2px solid #ccc;
    font-size: 20px;
    line-height: 30px;
    border-bottom: 0px;
  }

  li {
    border-bottom: 2px dotted #ccc;
    padding: 10px 10px 10px 10px;
  }
