  h1 {
    font-size: 36px;
    line-height: 54px;
  }

  h2 {
    border-top: 2px solid #ccc;
    font-size: 20px;
    line-height: 30px;
    border-bottom: 0px;
  }

  li {
    border-bottom: 2px dotted #ccc;
    padding: 10px 10px 10px 10px;
  }
