<h1><%= @user.username %>'s Profile</h1>

<h3>Movies you've added:</h3>

<% Movie.all.each do |movie| %>
    <% if movie.user_id == @user.id %>
    <li><a href="/movies/<%= movie.id %>"><%= movie.title %></a></li>
    <% end %>
<% end %>