<h1>Signup</h2>
<p>Signup for an account if you would like to contribute to the conversation!</p>

<% if flash(:message) %>
  <%= flash[:message] %><br><br>
<% end %> 

<form method="POST" action="/signup">
Username: <input type="text" name="username"><br>
Password: <input type="password" name="password"><br>
<input type="submit" value="Signup">
</form>