<h1>Add a TV Show</h1>
 <!-- # title, imdb_url, year, summary, network -->

<form method="POST" action="/shows">
    Title: <input type="text" name="title"><br>
    IMDB page: <input type="text" name="imdb_url"><br>
    Year (first aired): <input type="text" name="year"><br>
    Short summary: <input type="text" name="summary"><br>
    Network: <input type="text" name="network"><br>
    <input type="submit" value="Create Show">
</form>
