<h1>Is it Queer?</h1>
<h2>No more breadcrumbs, we eat baguettes now</h2>

<a href="/shows">View all shows</a><br>
<a href="/shows/new">Add a show</a><br>

<a href="/login">Login</a><br>
<a href="/signup">Signup</a><br>
<form action="/logout" method="post">
  <input type="submit" name="logout" value="Logout">
</form>